#red {
    color: red;

}
#blue {
    color: blue;
}
#orange {
    color: orange;
}
#green {
    color: green;
}   
#yellow {
    color: yellow;
}
.colortitle {
   font-weight: lighter;
}
img {
    width :200px;
    height : 200px;    
}
